.tile{
    width:380px;
    position: relative;
    font-size:30px;
    color:black;
    margin-bottom:2rem;
}

.tile__info{
    position: absolute;
    top:20px;
    right:0;
    padding:.5rem;

    font-size:1rem;
    font-weight: 600;
    width:auto;
    background-color: white;

}

.tile__author{
    color: #DABABA;
    font-weight: 600;
}