*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'articulatcf', sans-serif;
}

a{
  text-decoration: none;
}


.App{
  width:1400px;
  margin:auto;
}

@font-face{
  font-family: 'articulatcf';
  src: url(./assets/fonts/ArticulatCF-Medium.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'articulatcf';
  src: url(./assets/fonts/ArticulatCF-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'articulatcf';
  src: url(./assets/fonts/ArticulatCF-Heavy.ttf);
  font-style: normal;
  font-weight: 900;
}